{% extends 'index.html' %}

{% block content %}
				<h1>--------{{tablename1}}--------</h1>

					<div class="table-responsive">
                        <table class="table table-light table-bordered">
                            <thead class="table-dark">
                                 <tr>
                                    <th>Program Name</th>
									<th>Program Address</th>
                                </tr>
                            </thead>
                            <tbody>
				
                                {% for prog in table %}
                                    <tr>
							
										 <td> {{ prog.program_name }} </td>
                                        <td> {{ prog.program_address }} </td>
               
                                {% endfor %}
                            </tbody>
						</table>
                </div>
         
{% endblock content%}