{% extends 'index.html' %}

{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
		<form name="MyForm" method="POST">
		 {{ form.hidden_tag() }}
		<p>
		<STRONG>VIEW CHOICE</STRONG>: Which view do you want to see<br>
		<input type="radio" name="options" id="option1" value="1" checked="checked"> Projects and Researchers </input><br>
		<input type="radio" name="options" id="option2" value="2"> Project Overviews </input><br>
		</p>
		{{ form.submit(class = "btn btn-primary btn-submit-custom") }}
		</form>
    </div>
    </div>
</div>
{% endblock content%}